@model Quizzy.Models.Buisness_Models.Student






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student - Quizzy</title>
    <link rel="stylesheet" href="~/css/login_page.css">
    <script type="text/javascript" src="~/js/login.js" defer></script>
</head>
<body>
  
    <div class="wrapper">
        <h1>Student</h1>
        <p id="error-message"></p>
        @if (TempData["Success"] != null)
        {
            <div style="color: #07fc03; font-size: 16px; text-align: center;">
                @TempData["Success"]
            </div>
        }

        @if (TempData["Check"] != null)
        {
            <div style="color: red; font-size: 16px; text-align: center;">
                @TempData["Check"]
            </div>
        }
        <form id="form" method="post">

            <div>
                <label for="first_name-input">
                    <!-- First Name Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z" />
                    </svg>
                </label>
                <input type="text" id="first_name-input" placeholder="First Name" asp-for="first_name">
            </div>

            <div>
                <label for="last_name-input">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z" />
                    </svg>
                </label>
                <input type="text" id="last_name-input" placeholder="Last Name" asp-for="last_name">
            </div>

            <div>
                <label for="rollNum-input">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M20 3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 14h-6v-2h6v2zm3-4H7v-2h9v2zm0-4H7V7h9v2z" />
                    </svg>
                </label>
                <input type="number" id="rollNum-input" placeholder="Roll Number(in number)" asp-for="roll_num">
            </div>

            <div>
                <label for="dept-input">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M12 2 1 7l11 5 9-4.09V17h2V7L12 2zm0 7.4L4.24 7 12 4l7.76 3-7.76 3.4zM4 19h16v2H4v-2z" />
                    </svg>
                </label>
                <input type="text" id="dept-input" placeholder="Department (eg. CS)" asp-for="dept">
            </div>

            <div>
                <label for="Date-input">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.1 0-2 .9-2 2v15c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 17H5V8h14v12z" />
                    </svg>
                </label>
                <input type="number" id="date-input" placeholder="Admission Year"
                       asp-for="addmission_year" min="1990" max="2025" step="1">
            </div>

            <button type="submit">Register As A Student</button>
        </form>
        <p>Already have an Account? <a href="/login/index">login</a> </p>
    </div>
</body>
</html>
